@{
    ViewData["Title"] = " Tela";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Yasmin</a>.</p>
    <div class="mx-auto">
</div>

<img src="https://th.bing.com/th/id/OIP.CGOHT_Xc7tlshlLcq9QyYgHaE8?pid=ImgDet&rs=1" alt="gatinho laranja"